pyspark
pysimdjson
fsspec
pandas
loguru
pyarrow
fastwarc
s3fs
fire
requests
squeakily
spacy
spacy_fastlang
resiliparse
pip install https://github.com/kpu/kenlm/archive/master.zip sentencepiece
pip install git+https://github.com/CarperAI/squeakily.git